.shopping-bag-item {
  color: black;
  font-family: baskerville;
  font-size: 20px;
  margin-bottom: 10px;
}

.shopping-bag-item-remove {
  cursor: pointer;
  color: #8f4219a9;
  margin: 5px;
}

.border-box-about {
  padding: 5px;
  border: 1px solid #8f4219a9;
}
.title-box-about {

}